<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Shoe Catalogue</title>

    <link href="/css/tailwind.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700;900&family=Righteous&display=swap"
        rel="stylesheet">
</head>

<body>
    <nav class="border border-b-gray-300">
        <div class="navbar bg-base-100">
            <div class="flex-1">
                <a class="btn btn-ghost normal-case text-4xl font-bold" href="/">CHIKOVHA</a>
            </div>
            <div class="flex-none">
                <div class="dropdown dropdown-end">
                    <label tabindex="0" class="btn btn-ghost btn-circle">
                        <div class="indicator">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 animate-bounce" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                            </svg>
                            <span class="badge badge-sm indicator-item ">2</span>
                        </div>
                    </label>
                    <div tabindex="0" class="mt-3 card card-compact dropdown-content w-52 bg-base-100 shadow">
                        <div class="card-body">
                            <span class="font-bold text-lg">2 Items</span>
                            <span class="text-info">Subtotal: R5800</span>
                            <div class="card-actions">
                                <button class="btn w-44">View cart</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dropdown dropdown-end">
                    <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                        <div class="w-10 rounded-full">
                            <img src="https://placeimg.com/80/80/people" />
                        </div>
                    </label>
                    <ul tabindex="0"
                        class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
                        <li>
                            <a href="/addShoe">Add Shoe</a>
                        </li>
                        <li>
                            <a class="justify-between">
                                Login
                            </a>
                        </li>
                        <li>
                            <a class="justify-between">
                                Sign-up
                            </a>
                        </li>
                        <li><a>Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    {{!-- aside filter using daisyui tailwind--}}
    <main class="grid grid-cols-12 gap-4">
        <aside class="col-span-3">
            {{!-- filter --}}
            {{!--tailwind category selection --}}
            {{!-- use form --}}
            <form action="/" method="post" class="flex flex-col gap-0">
            <div class="flex gap-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-lg font-bold">Categories</h2>
                        <div class="mt-1 flex flex-col gap-2">
                                <div class="flex gap-2 items-center">
                                    <input type="checkbox" name="theGender" value="Male" class="w-7 h-7"/>
                                    <span class="form-checkbox">Male
                                    </span>
                                </div>
                                <div class="flex gap-2 items-center">
                                    <input type="checkbox" name="theGender" value="Female" class="w-7 h-7"/>
                                    <span class="form-checkbox">Female 
                                    </span>
                                </div>
                        </div>
                    </div>
                </div>
                {{!-- another card for colour --}}
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-lg font-bold">Colour</h2>
                        <div class="mt-1 flex flex-col gap-2">
                            <div class="flex gap-2 items-center">
                                <input type="checkbox" name="theColor" value="black" class="w-7 h-7"/>
                                <span class="form-checkbox">Black
                                </span>
                            </div>
                            <div class="flex gap-2 items-center">
                                <input type="checkbox" name="theColor" value="white" class="w-7 h-7"/>
                                <span class="form-checkbox">White
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                {{!-- another card for size --}}
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-lg font-bold">Size</h2>
                        <div class="grid grid-cols-3">
                            <div class="mt-1 flex flex-col gap-2">
                            <div class="flex gap-2 items-center">
                                <input type="checkbox" name="theSize" value="4" class="w-7 h-7"/>
                                <span class="form-checkbox">4
                                </span>
                            </div>
                            <div class="flex gap-2 items-center">
                                <input type="checkbox" name="theSize" value="7" class="w-7 h-7"/>
                                <span class="form-checkbox">7
                                </span>
                            </div>
                        </div>
                        <div class="mt-1 flex flex-col gap-2">
                            <div class="flex gap-2 items-center">
                                <input type="checkbox" name="theSize" value="5" class="w-7 h-7"/>
                                <span class="form-checkbox">5
                                </span>
                            </div>
                            <div class="flex gap-2 items-center">
                                <input type="checkbox" name="theSize" value="8" class="w-7 h-7"/>
                                <span class="form-checkbox">8
                                </span>
                            </div>
                        </div>
                        <div class="mt-1 flex flex-col gap-2">
                            <div class="flex gap-2 items-center">
                                <input type="checkbox" name="theSize" value="6" class="w-7 h-7"/>
                                <span class="form-checkbox">6
                                </span>
                            </div>
                            <div class="flex gap-2 items-center">
                                <input type="checkbox" name="theSize" value="9" class="w-7 h-7"/>
                                <span class="form-checkbox">9
                                </span>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                {{!-- another card for price --}}
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-lg font-bold">Price</h2>
                        <div class="mt-1 flex flex-col gap-2">
                            <div class="flex gap-2 items-center">
                                <input type="checkbox" name="theRange" value="range1" class="w-7 h-7"/>
                                <span class="form-checkbox">R1500 - R2500
                                </span>
                            </div>
                            <div class="flex gap-2 items-center">
                                <input type="checkbox" name="theRange" value="range2" class="w-7 h-7"/>
                                <span class="form-checkbox">R2500 - R4000
                                </span>
                            </div>
                            <div class="flex gap-2 items-center">
                                <input type="checkbox" name="theRange" value="range3" class="w-7 h-7"/>
                                <span class="form-checkbox">ALL
                                </span>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="card-footer">
                        <button type="submit" class="btn ml-7">Filter</button>
                    </div>
            </form>
        </aside>
        {{!-- main content --}}
        <div class="col-span-9">
            <div class="grid grid-cols-3 gap-4">
                {{#each firstpage}}
                <div class="card">
                    <div class="card-body">
                        
                        <div class="card-image">
                            <img src="{{this.linktoimage}}" />
                        </div>
                        {{!-- create a bagde an put it top rigtht corner --}}
                        <div class="badge badge-accent badge-pill text-md font-bold mt-2">In Stock {{this.quantityofshoe}}</div>
                        <h2 class="card-title">{{this.nameofshoe}}</h2>
                        <div class="flex gap-32">
                        <p class="card-subtitle text-gray-500">{{this.categoryofshoe}} Shoes</p>
                        <p class="card-text font-semibold">R{{this.priceofshoe}}</p>
                        </div>
                        
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.
                        </p>
                        <div class="card-actions">
                            <button class="btn">Add to cart</button>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </main>
    {{!-- footer --}}
<footer class="footer footer-center p-4 bg-base-300 text-base-content mt-12">
  <div>
    <p>Copyright © 2022 - All right reserved by <span class="font-bold">Chikovha ka Chikovha Ltd</span></p>
  </div>
</footer>

</body>
<style>
    {{!-- image on hover --}}
    .card-image img:hover {
        transform: scale(1.09);
        transition: all 0.5s ease;
    }
    {{!-- badge --}}
    {{!-- .badge {
        position: absolute;
        top: 0;
        right: 10px;
    } --}}
    {{!-- mobile responsivness --}}


</html>